body {
    background-color: black;
}
div {
    color: #F06354;
    width:100%;
    height:fit-content;
    font-family: Clarendon BT;
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 30px;
}
img {
    height: 40px;
    width: 40px;
    display:inline;
}